<div class="form-container">
  <h2>Create a New Betting Room</h2>
  <%= bootstrap_form_for [@room] do |f| %>
    <%= f.text_field :name, required: true %>
    <%= f.text_field :starting_balance, required: true %>
    <% if f.object.persisted? %>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Admin?</th>
          <th>Toggle Admin</th>
        </tr>
        <% @room.users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <% # TODO: Figure out how to access the room_user object of the current room in a very easy and efficient way %>
            <td><%= user.room_users.count %></td>
            <td><%= link_to :Toggle %></td>
          </tr>
        <% end %>
      </table>
      <%= f.submit :Update %>
    <% else %>
      <%= f.submit :Create %>
    <% end %>
  <% end %>
</div>