<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Rooms: </h2>
      <p>The list of rooms that you are included within.</p>
    </div>
    <div class="col-md-2">
      <%= link_to "Join New Room", new_room_user_path, method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col-md-2">
      <%= link_to "Create New Room", new_room_path, class: "btn btn-primary" %>
    </div>
  </div>
  <% if @rooms.present? %>
    <div class="row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Room Name</th>
          <th>Member Count</th>
          <th>Owner Email</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= room.id %></td>
            <td><%= link_to room.name, room %></td>
            <td><%= room.users.count %></td>
            <td><%= room.owner.email %></td>
            <td><%= link_to :Edit, edit_room_path(room), class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>You are not apart of any rooms</p>
  <% end %>
</div>