<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>
        <%= @room.name %>
      </h1>
      <small>Invite Code (<%= @room.invite_code %>) [Send this to your friends to join this room]</small>
    </div>
    <div class="col-md">
      <% if @room_user.admin? %>
        <button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">Create Betting Round</button>
        <!-- TODO: Put invite code in line below -->
        <!--<button class="btn btn-secondary float-right mr-2" disabled="disabled">qeai49uijakdofr4</button>-->
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md left-box">

        </div>
        <div class="col-md right-box">

        </div>
      </div>
      <div class="row no-gutters">
        <span>Current Balance: </span>
        <span class="cash-text">$<%= @room_user.balance %></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <% @room.users.each do |user| %>
            <div>
              <div class="chat-status"></div>
              <p class="chat-user"><%= user.username %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
            <% @room_messages.last(50).each do |room_message| %>
              <div class="chat-message">
                <strong><%= room_message.user.username %></strong><small><%= room_message.created_at.strftime(" (%m/%d/%Y %l:%M%p)") %></small>
                <br>
                <p><%= room_message.message %></p>
              </div>
          <% end %>
          </div>

          <%= bootstrap_form_for @room_message, remote: true do |form| %>
            <div class="input-group mb-3">
              <%= form.text_field :message, as: :string, wrapper: false, label: false, input_html: {class: 'chat-input'} %>
              <div class="input-group-append">
                <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
              </div>
            </div>
            <%= form.hidden_field :room_id %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-role="message-template">
  <div class="chat-message">
    <strong data-role="message-username"></strong><small data-role="message-date"></small>
    <br>
    <p data-role="message-text"></p>
  </div>
</div>

<%= render partial: "rooms/new_betting_round" %>