<div class="container">
  <h1>
    <%= @room.name %>
  </h1>
  <div class="row">
    <div class="col-md-10">
      <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
        <% @room_messages.last(50).each do |room_message| %>
          <div class="chat-message">
            <strong><%= room_message.user.username %></strong><small><%= room_message.created_at.strftime(" (%m/%d/%Y %l:%M%p)") %></small>
            <br>
            <p><%= room_message.message %></p>
          </div>
        <% end %>
      </div>

      <%= bootstrap_form_for @room_message, remote: true do |form| %>
        <div class="input-group mb-3">
          <%= form.text_field :message, as: :string, wrapper: false, label: false, input_html: {class: 'chat-input'} %>
          <div class="input-group-append">
            <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>
        <%= form.hidden_field :room_id %>
      <% end %>
    </div>
    <div class="col-md-2">
      <% @room.users.each do |user| %>
        <div>
          <div class="chat-status"></div>
          <p class="chat-user"><%= user.username %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div data-role="message-template">
  <div class="chat-message">
    <strong data-role="message-username"></strong><small data-role="message-date"></small>
    <br>
    <p data-role="message-text"></p>
  </div>
</div>